@import "@/assets/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-800;
  font-family: "Marianne", "Roboto", "Helvetica Neue", sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
}