@import "@/assets/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
}